@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ! RESET TO DEFAULTS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 1rem 20rem;
}

/* ! HEADER SECTION CSS */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f2937;
  width: 100%;
}

.logo {
  cursor: pointer;
  font-size: 24px;
  color: #f9faf8;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

header nav ul li {
  position: relative;
}

header nav ul li a {
  color: #e5e7eb;
  font-size: 18px;
}

header nav ul li::before {
  content: "";
  position: absolute;
  height: 1px;
  background: #fff;
  bottom: -1px;
  left: 0;
  width: 100%;
  transform: scale(0);
  transition: all 0.3s ease;
}

header nav ul li:hover::before {
  transform: scale(1);
}

/* ! HERO SECTION CSS */
.hero {
  display: flex;
  align-items: center;
  padding-top: 3rem;
  background-color: #1f2937;
}

.hero-text {
  flex-basis: 70%;
}

.hero-text h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  max-width: 500px;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
  max-width: 450px;
  margin-bottom: 20px;
}

.btn {
  background: #3882f6;
  padding: 10px 25px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  position: relative;
  overflow: hidden;
  display: inline-block;
  font-size: 1.3rem;
}
.btn span {
  z-index: 1;
  position: relative;
}

.btn::before {
  width: 0;
  height: 0;
  background-color: #064ab8;
  position: absolute;
  content: "";
  top: var(--yPos);
  left: var(--xPos);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: height 0.5s linear, width 0.5s linear;
}

.btn:hover::before {
  width: 350px;
  height: 350px;
}

.hero-image {
  flex-basis: 40%;
}

.hero-image img {
  width: 100%;
  height: auto;
}

/* ! INFORMATION SECTION CSS */
.information h2 {
  font-size: 2rem;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  margin: 20px 0;
}

.contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  overflow: hidden;
}

.box img {
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transform: scale(1);
  transition: all 0.3s ease;
}

.box img:hover {
  transform: scale(0.95);
}

.box p {
  max-width: 200px;
}
